body{
    background-color: #444;
}
table ,form{
    width: 70%;
   margin:auto;
   max-width: 70% ;
}
input,select{
    width: 100%;
}
#button{
    background-color: #444;
    border: none;
}
th,td{
    background-color: rgb(233, 233, 233);
    border: 2px solid black;
}
img{
    max-width:50px;
    width: 100%;
}