<head><link href= "login.css" rel="stylesheet"/></head>
<div>
    <h1>Welcome to the CasperBot Admin page!!</h1>
    <h3>Please enter your username and password</h3>
    <form action="/login" method="post" >
        <label for="password">Password</label> <br>
        <input id="password" type="password" name="password"> <br>
        <input type="submit" value="OK">
    </form>
   
</div>
